<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/64fddb3c-3e89-477e-9d92-327e51477d4f/resourcegroups/WashZa20190218115425ResourceGroup/providers/Microsoft.Web/sites/WashZa20190218115425</ResourceId>
    <ResourceGroup>WashZa20190218115425ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://washza20190218115425.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>washza20190218115425.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WashZa20190218115425</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$WashZa20190218115425</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WashZa.Models.ApplicationDbContext, WashZa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities" Order="2" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WashZa.Models.Entities, WashZa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Entities1" Order="3" Enabled="False">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WashZa.Models.Entities1, WashZa" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="LaundryEntities" Order="4" Enabled="True">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\LaundryEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.LaundryModels.csdl|res://*/Models.LaundryModels.ssdl|res://*/Models.LaundryModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\aspnet-WebApplication5-20190218121647.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="WashzaEntities" Order="5" Enabled="True">
          <Destination Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=myprohectza.database.windows.net;Initial Catalog=Washza;Persist Security Info=True;User ID=webusers;Password=P@ssw0rD;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WashzaEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Laundry.csdl|res://*/Laundry.ssdl|res://*/Laundry.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=myprohectza.database.windows.net;initial catalog=Washza;persist security info=True;user id=webusers;password=P@ssw0rD;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="WashzaEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Laundry.csdl|res://*/Laundry.ssdl|res://*/Laundry.msl;provider=System.Data.SqlClient;provider connection string="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="LaundryEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LaundryModels.csdl|res://*/Models.LaundryModels.ssdl|res://*/Models.LaundryModels.msl;provider=System.Data.SqlClient;provider connection string="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.Laundrys.csdl|res://*/Models.Laundrys.ssdl|res://*/Models.Laundrys.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="Entities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.LaundryModels.csdl|res://*/Models.LaundryModels.ssdl|res://*/Models.LaundryModels.msl;provider=System.Data.SqlClient;provider connection string="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\inw_t\source\repos\WashZa\WashZa\App_Data\aspnet-WebApplication5-20190218121647.mdf;Integrated Security=True;Connect Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>