@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WashZa</h1>
    <p class="lead">Washza เว็บไซต์สำหรับการซักผ้าออนไลน์ ทำให้คุณสามารถคำนวณค่าใช้จ่ายในการซัก และสามารถตรวจสอบเครื่องสักผ้าที่ว่างอยู่ และใช้งานเสร็จแล้ว พร้อมระบบจ่ายเงินผ่าน qr code มิติใหม่ของการซักผ้า หมดปัญหากังวลว่าเมื่อมาแล้วเครื่องซักผ้าไม่ว่าง Washzaมาเพื่อช่วยคุณ</p>
    
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <img src="~/Content/965626babfac4705a2917f03c0d187c1.jpg" width="560" />
            <img src="~/Content/44DB1FD800000578-4933120-image-a-70_1506683560276.jpg" width="560">
        </p>
    </div>
</div>

